@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;

}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);
}

.NDK {
    font-size: 60px;
    color: #2232c7;
    pointer-events: none;
    margin-right: 300px;
}

li{
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    transition: 0.4s all ease;
    margin: 0 10px;
}

li:hover{
color: #2232c7;
transition: 0.4s all ease;
}

li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0051ff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;

}

li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.back img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;


 }