@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; 
    margin: 0;
    background-color: #0e352d;
  }

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    padding: 15px 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.NDK img {
    margin-right: 0%; 
    display: inline-block; 
    width: 28%;
}


li{
    display: inline-block;
    position: relative;
    background: linear-gradient(to right, #211c02, #372c0a, #201d01); 
    -webkit-background-clip: text; 
    color: transparent; 
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.4s all ease;
    margin: 0 30px;
}

li:hover{
background: linear-gradient(to right, #00376d, #0167cc, #014486);
-webkit-background-clip: text; 
color: transparent; 
transition: 0.4s all ease;
}

li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right, #00376d, #0167cc, #014486);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;

}

li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.back img {
    position: ;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: -1;
 }

.text {
     font-size: 3.5em;
    position: relative;
    top: 130px;
    text-align: center;
    background: linear-gradient(to right, #af9605, #ccb35f, #fcee9e); 
    -webkit-background-clip: text; 
    color: transparent; 
}

.gradient-line {
    position: relative;
    top: 130px;
    margin: 0 auto ;
    width: 60%;
    height: 2px; 
    background: linear-gradient(to right, #ffd700, #ffc200, #ffd700);
}

.text1 {
    position: relative;
    top: 130px;
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    background: linear-gradient(to right, #af9605, #ccb35f, #fcee9e); 
    -webkit-background-clip: text; 
    color: transparent; 
}

/* .hop1{
    background-color: #0e352d;
    padding: 100px;
} */